version: 2.1

jobs:
  build:
    docker:
      - image: cimg/android:2021.10   
    working_directory: ~/ProductCatalog

    environment:
      JVM_OPTS: -Xmx3200m

    steps:
      - checkout

      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum "app/build.gradle" }}

      - run:
          name: Chmod permissions
          command: chmod +x ./gradlew

      - run:
          name: Build project
          command: ./gradlew assembleDebug

      - save_cache:
          paths:
            - ~/.gradle
          key: jars-v3-{{ checksum "build.gradle" }}-{{ checksum "app/build.gradle" }}


      - run:
          name: Run Unit Tests
          command: ./gradlew test

      - store_artifacts:
          path: app/build/outputs/apk/debug/
          destination: apks/

      - store_test_results:
          path: app/build/test-results
